
{% extends 'base.html' %}


{% block content %}
        <h1>Hi world from template</h1>
    <h2>Name: {{ name | title}}</h2>
    <p>Age: {{ age }}</p>
    {% if age > 18 %}
        <p>You are an adult.</p>
    {% else %}
        <p>You are a minor.</p>
    {% endif %}
    <h2>Technologies:</h2>
    <ul>
        {% for tool in stack %}
            <li><a href="{% url 'stack' tool=tool.name %}">{{ tool.name }}</a></li>
        {% empty %}
            <li><p>No technologies listed.</p></li>
        {% endfor %}
    </ul>



    <p>Day: {{ today | date:"d" }} de {{ today | date:"m" }} de {{ today | date:"Y" }}</p>
{% endblock content %}
    
    

